@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Newsreader:wght@300;700&display=swap');

/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Newsreader', serif;*/

body {
    font-family: 'Montserrat', sans-serif;
    color: #1D1D1D;
    font-size: 1.3em;
}

.nav-it {
    font-family: 'Montserrat', sans-serif;
    color: #1D1D1D;
    font-size: .8em;
    margin-left: .2em;
}

.nav-brand {
    font-family: 'Newsreader', serif;
    color: #1D1D1D;
    text-transform: uppercase;
    font-size: 1.3em;
}

.bg-landing {
    background-image: url("img/landing_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10em;
}

.landing-head {
    font-family: 'Newsreader', serif;
    color: #1D1D1D;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    padding-top: 2em;
    margin-bottom: 2em;
}

.blog-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #DEDAD8;
    background-color: #1D1D1D;
    margin-top: 2em;
    /*margin-bottom: 4em;*/
}

.login-head {
    font-family: 'Newsreader', serif;
    color: #1D1D1D;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 1.4em;
    margin-bottom: 1em;
}

.bg-login {
    background-image: url("img/login.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10em;
}


.bg-index {
    background-image: url("img/index-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10em;
}