<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">


</head>
<body>

<nav th:replace=" partials/nav :: nav"/>

<div class="bg-create">
    <div class="container">
    <div class="login-head">
        <h1 class="mb-4">Create a new post</h1>
    </div>
    <div class="container mb-4">

        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
            <label>Title: </label>
            <input type="text" th:field="*{title}" class="form-control mb-4"/>
            <label>Body: </label>
            <input type="text" th:field="*{body}" class="form-control mb-4"/>

            <button class="btn btn-block blog-btn" type="submit">Create</button>
        </form>

    </div>
    </div>
</div>

<footer th:replace="partials/foot :: foot"/>

</body>
</html>
