<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">


</head>
<body>
<nav th:replace=" partials/nav :: nav"/>

<div class="bg-edit">
    <div class="container">
        <div class="login-head">
            <h1 class="mb-4">Update your post</h1>
        </div>

        <div class="container mb-4">
            <form th:action="@{'/posts/edit/' + ${post.id}}" th:method="post" th:object="${post}">
                <label>Title: </label>
                <input type="text" th:field="*{title}" class="form-control mb-3"/>
                <label>Body: </label>
                <input type="text" th:field="*{body}" class="form-control"/>

                <button class="btn btn-block blog-btn" type="submit">Update Blog</button>
                <!--        <form th:action="@{/posts/delete/{id}(id=${post.id})}" th:method="post">-->
                <!--            <button class="btn">Delete</button>-->
                <!--        </form>-->
            </form>
        </div>
    </div>
</div>


<footer th:replace="partials/foot :: foot"/>
</body>
</html>