<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<!--<nav th:replace=" partials/nav :: nav"/>-->

<div class="bg-landing">
    <div class="container">
        <div class="container">
            <h1 class="landing-head mb-4">The Daily Blog</h1>
        </div>

        <a th:href="@{/login}" class="btn blog-btn-dos btn-block">Login</a>

        <a th:href="@{/sign-up}" class="btn blog-btn-dos btn-block">Register</a>

        <a th:href="@{/posts}" class="btn blog-btn-dos btn-block">View Current Posts</a>

    </div>
</div>

<footer th:include="partials/foot :: foot"/>

</body>
</html>