<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
<nav th:replace=" partials/nav :: nav"/>

<div class="bg-landing">
    <div class="container">

        <div class="container">
            <h1 class="landing-head">The Daily Blog</h1>
        </div>

    </div>
    <footer th:include="partials/foot :: foot"/>
</div>
</body>
</html>